<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- TODO テンプレート化 .notification, header, footer -->
    <header>
      <% if user_signed_in? %>
        <%= link_to 'マイページ', user_path(current_user) %>
        <%= link_to 'サインアウト', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'サインイン', new_user_session_path %>
        <%= link_to 'サインアップ', new_user_registration_path %>
      <% end %>
    </header>
    <section class="notification">
      <% flash.each do |key, value| %>
        <p class="<%= key %>"><%= value %></p>
      <% end %>
    </section>
    <div>
      <%= yield %>
    </div>
    <footer></footer>
  </body>
</html>
